.bigbig h1{
    font-size:90px;
    text-transform: uppercase;
    font-weight:900;
    padding: 0 0 80px 0;
    color:#f6416c;
}
.bigbig h1 span.ohter-title{
 display: inline-block;
 /* text-shadow: rgb(0, 0, 0) -1px -1px 0.5px, rgb(0, 0, 0) -1px -1px 0.5px, rgb(0, 0, 0) -1px -1px 0.5px, rgb(0, 0, 0) 1px 1px 0.5px; */
 color:#fff;
 background: #f6416c;
}
.complexe-title h1{
    font-weight: bold;
    font-size:48px;
    text-transform:capitalize;
    padding-right: 500px;
    margin: 24px 0;
    
}
.simple-title h1{
    font-weight: bold;
    font-size:48px;
    text-transform:capitalize;
    padding-left: 50px;
    border-left:3px solid #f6416c;
}
.simple-title h1 span{
    color: #00B8A9;
    font-size: 32px;
    text-transform: uppercase;
}
@media screen and (max-width:991px) {
    .bigbig h1{
        font-size:90px;
    }
    .complexe-title h1{
        padding: 0;
        font-size:40px;
    }
    .simple-title h1{
        font-size:40px;
    }
}
@media screen and (max-width:600px) {
    .bigbig h1{
        font-size:60px;
    }
}
@media screen and (max-width:400px) {
    .bigbig h1{
        font-size:55px;
    }
}