*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  height: 2000px;
}
.container{
  width:100%;
  height: auto;
}
.center-left{
   padding-left:10em;
}
.center-right{
  padding-right: 10em;
}
.ninuto{
  font-family: 'Nunito', sans-serif;
}
.marvel {
  font-family: 'Marvel', sans-serif;
}
.signika{
  font-family: 'Signika Negative', sans-serif;
}
.black-back{
  background:#000;
  color:#fff;
}
.white-back{
  background:#fff;
  color:#000;
}
.slick-next {
  right: 40%;
  color: black;
  width:auto;
  height: auto;
  font-size:50px;
}
.slick-prev {
  left:50%;
  color: black;
  z-index: 9;
  width:auto;
  height: auto;
  font-size:50px;
}
.slick-next:hover,
.slick-prev:hover{
  color:black;
}

/* start media query */
@media screen and (max-width:991px) {

 .center-left{
  padding-left:2em;
  padding-right: 2em;
}
.center-right{
  padding-left:2em;
  padding-right: 2em;
}
.slick-next {
  left: 20%; 
  top:30%;
  
  
}
.slick-prev {
  left:5%;
  top:30%;
}
}