*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  height: 2000px;
}
.center-left{
   padding-left:10em;
}
.center-right{
  padding-right: 10em;
}
.ninuto{
  font-family: 'Nunito', sans-serif;
}
.marvel {
  font-family: 'Marvel', sans-serif;
}
.signika{
  font-family: 'Signika Negative', sans-serif;
}
.black-back{
  background:#000;
  color:#fff;
}
.white-back{
  background:#fff;
  color:#000;
}
@media screen and (max-width:991px) {

 .center-left{
  padding-left:2em;
  padding-right: 2em;
}
.center-right{
  padding-left:2em;
  padding-right: 2em;
}
}